/* Color Theme Swatches in Hex */
$color-white: white;
$color-black: black;
$color-disabled: gray;
$color-corcodus-1: #0433bf;
$color-corcodus-2: #0442bf;
$color-corcodus-3: #0455bf;
$color-corcodus-4: #033e8c;
$color-corcodus-5: #260101;
